In [1]:
import numpy as np
import pandas as pd
movies=pd.read_csv('movies.csv')
ratings=pd.read_csv('rating.csv')
# to find duplicates
dupl_movies=movies.groupby('title').filter(lambda x:len(x)==2)
dupl_film=dupl_movies['movieId'].values
# to find the no of reviews on duplicate movie_ids
dupl_reviews=pd.DataFrame(ratings[ratings['movieId'].isin(dupl_film)]['movieId'].value_counts())
# dupl_reviews=dupl_reviews[['movieId','count']]
dupl_reviews.reset_index(inplace=True)
dupl_reviews.columns=['movieId','count']
dupl_movies=dupl_movies[['movieId','title']]
dupl_movies=pd.DataFrame(dupl_movies)
df=pd.merge(dupl_movies,dupl_reviews,on='movieId')
df.set_index('title')
movies=movies.loc[~movies['movieId'].isin(df)]
# ratings=ratings.loc[~ratings['movieId'].isin(df)]
# genre=list(set('|'.join(list(movies['genres'].unique())).split('|')))
# genre.remove('(no genres listed)')
# for x in genre:
#     movies[x]=movies['genres'].map(lambda val:1 if  x in val else 0)
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [3]:
movies=movies.loc[~movies['movieId'].isin(df)]
ratings=ratings.loc[~ratings['movieId'].isin(df)]
genres=list(set('|'.join(list(movies['genres'])).split("|")))
genres.remove('(no genres listed)')
genres
for genre in genres:
    movies[genre]=movies['genres'].map(lambda x:1 if genre in x  else 0)
movies
# filter1=movies['title']=='Toy Story (1995)'
# filter2=movies['title'].str.contains('Jumanji (1995)').as_type(str)
# movies.where(filter2,inplace=True)
# movies.head(100)
# # movies['index']=movies['title'].str.find('mon',2)

,movieId,title,genres,Crime,Western,Romance,Fantasy,Animation,Documentary,Horror,...,Action,War,Thriller,IMAX,Musical,Comedy,Mystery,Sci-Fi,Adventure,Drama
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,0,0,0,1,1,0,0,...,0,0,0,0,0,1,0,0,1,0
1,2,Jumanji (1995),Adventure|Children|Fantasy,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,3,Grumpier Old Men (1995),Comedy|Romance,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
4,5,Father of the Bride Part II (1995),Comedy,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,0,0,0,1,1,0,0,...,1,0,0,0,0,1,0,0,0,0
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,0,0,0,1,1,0,0,...,0,0,0,0,0,1,0,0,0,0
9739,193585,Flint (2017),Drama,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [5]:
import re
movies['year']=movies['title'].map(lambda val: int(re.search('\(([0-9]{4})\)',val).group(1)) 
                                     if re.search('\(([0-9]{4})\)',val)!= None 
                                     else 0)   
for decades in range(1930,2020,10):
    movies['decade'+str(decades)]=np.where((movies['year']<decades+10) &(movies['year']>=decades),1,0)
movies['decades_none']=np.where(movies['year']==0,1,0)
movies['decade_notnone']=np.where((movies['year']!=0)&(movies['year']<1930),1,0)
movie_rates=pd.merge(movies,ratings,on='movieId')
movie_rates.drop('timestamp',axis=1,inplace=True)
movie_rates['title']

0                                  Toy Story (1995)
1                                  Toy Story (1995)
2                                  Toy Story (1995)
3                                  Toy Story (1995)
4                                  Toy Story (1995)
                            ...
100831    Black Butler: Book of the Atlantic (2017)
100832                 No Game No Life: Zero (2017)
100833                                 Flint (2017)
100834          Bungo Stray Dogs: Dead Apple (2018)
100835          Andrew Dice Clay: Dice Rules (1991)
Name: title, Length: 100836, dtype: object

In [7]:
import pandas as pd
# def item_recommender(data,movie):
import sklearn.metrics.pairwise as pw
from scipy import sparse
from sklearn.metrics.pairwise import pairwise_distances
pivot_table=pd.pivot_table(movie_rates,index='title',columns=['userId'],values='rating')
pivot_table
# pivot_table=pivot_table.fillna(0,inplace=True)
# print(pivot_table)
sparse_matrix=sparse.csr_matrix(pivot_table.fillna(0)) 
sparse_matrix
# cosine_sim=pw.cosine_similarity(sparse_matrix)
# cosine_sim
# df=pd.DataFrame(cosine_sim,columns=pivot_table.index,index=pivot_table.index)
# cosine_df=pd.DataFrame(df['The Lego Batman Movie (2017)'].sort_values(ascending=False))
# cosine_df.reset_index(level=0,inplace=True)
# cosine_df.columns=['title','cosine Similarity']
# cosine_df.head(50)
# item_recommender(movie_rates,'No Game No Life: Zero (2017)')

<9719x610 sparse matrix of type '<class 'numpy.float64'>'
	with 100832 stored elements in Compressed Sparse Row format>

In [206]:
pivot_table=pd.pivot_table(movie_rates,index='title',columns=['userId'],values='rating').T
pivot_table
# pivot_table=pivot_table.fillna(0,inplace=True)
# print(pivot_table)
sparse_matrix=sparse.csr_matrix(pivot_table.fillna(0)) 
sparse_matrix
cosine_sim=pw.cosine_similarity(sparse_matrix)
cosine_sim
df=pd.DataFrame(cosine_sim,columns=pivot_table.index,index=pivot_table.index)
userid=143
cosine_df=pd.DataFrame(df[userid].sort_values(ascending=False))
cosine_df.reset_index()
# cosine_df.columns=['UserId','cosine Similarity']
cosine_df

             143
userId
143     1.000000
10      0.273902
159     0.234465
563     0.223140
358     0.216583
...          ...
499     0.000000
262     0.000000
324     0.000000
99      0.000000
454     0.000000

[610 rows x 1 columns]